<!-- Grid row -->
<div class="row">

    <div class="col-md-4">
        <div class="card border">
            <div class="ratio hover-zoom ratio-4x3">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
                    alt="Blue denim shirt">
            </div>
            <div class="card-body p-1">
                <div class="text-center">
                    <h5>Blue denim shirt</h5>
                    <p class="mb-0 text-muted text-uppercase small">Shirts</p>
                    <div class="rating mb-1">
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </div>
                    <hr>
                    <h6 class="mb-1">17.99 $</h6>
                    <button type="button" class="btn btn-primary btn-sm mr-1 mb-1"><i
                            class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-1"><i
                            class="fas fa-info-circle pr-2"></i>Details</button>
                    <button type="button" class="btn btn-danger btn-elegant btn-sm px-3 mb-1 material-tooltip-main"
                        data-toggle="tooltip" data-placement="top" title="Remove from wishlist"><i
                            class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border">
            <div class="ratio hover-zoom ratio-4x3">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
                    alt="Blue denim shirt">
            </div>
            <div class="card-body p-1">
                <div class="text-center">
                    <h5>Blue denim shirt</h5>
                    <p class="mb-0 text-muted text-uppercase small">Shirts</p>
                    <div class="rating mb-1">
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </div>
                    <hr>
                    <h6 class="mb-1">17.99 $</h6>
                    <button type="button" class="btn btn-primary btn-sm mr-1 mb-1"><i
                            class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-1"><i
                            class="fas fa-info-circle pr-2"></i>Details</button>
                    <button type="button" class="btn btn-danger btn-elegant btn-sm px-3 mb-1 material-tooltip-main"
                        data-toggle="tooltip" data-placement="top" title="Remove from wishlist"><i
                            class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border">
            <div class="ratio hover-zoom ratio-4x3">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
                    alt="Blue denim shirt">
            </div>
            <div class="card-body p-1">
                <div class="text-center">
                    <h5>Blue denim shirt</h5>
                    <p class="mb-0 text-muted text-uppercase small">Shirts</p>
                    <div class="rating mb-1">
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </div>
                    <hr>
                    <h6 class="mb-1">17.99 $</h6>
                    <button type="button" class="btn btn-primary btn-sm mr-1 mb-1"><i
                            class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-1"><i
                            class="fas fa-info-circle pr-2"></i>Details</button>
                    <button type="button" class="btn btn-danger btn-elegant btn-sm px-3 mb-1 material-tooltip-main"
                        data-toggle="tooltip" data-placement="top" title="Remove from wishlist"><i
                            class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Grid row -->