{% extends 'ecommerce_app/base.html' %}
{% load static %}

{% block title %}User Account | Educart{% endblock %}

{% block extraJs %}
<script src="{% static 'ecommerce_app/js/manage-address.js' %}"></script>
{% endblock extraJs %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'ecommerce_app/css/user-account.css' %}">
{% endblock %}
{% block navbar %}{% include 'ecommerce_app/nav.html' %}{% endblock %}

{% block main-content %}


<div class="container" style="margin-bottom: 20px;">
    <div class="row mt-4">
        <div id="navigation" class="col-3">

            <div id="menu-toggle" class="menu-toggle">
                <!-- Toggler -->
                <button class="btn btn-info" aria-controls="#sidenav-1">
                    <i class="fas fa-bars"></i>
                </button>
                <!-- Toggler -->
            </div>

            <div class="card" id="u-profile">
                <div class="d-flex text-black border border-info text-center">
                    <div class="flex-shrink-0 ms-1 mt-2">
                        <img src="{% if user.profile.profile_image %}{{ user.profile.profile_image.url }}{% else %}{% static 'ecommerce_app/images/profile.png' %}{% endif %}"
                         class="rounded-circle center" style="width: 50px; " alt="Avatar"  />
                    </div>
                    <div class="flex-shrink-0 ms-1 mt-2">
                        <h6 class="ms-1">{{user.first_name}} {{user.last_name}}</h6>
                        <p class="ms-0">+91 {% if user.profile.phone_number %} {{user.profile.phone_number}} {% else %}- - - - - - - - - -
                         {% endif %}</p>
                    </div>
                </div>
            </div>

            <div class="drawer-nav border" id="menu">
                <div class="option active" data-target="user-profile">User Profile</div>
                <div class="option mt-2" data-target="your-orders">Your Orders</div>
                <div class="option mt-2" data-target="my-wishlist">My Wishlist</div>
                <div class="option mt-2" data-target="manage-address">Manage Address</div>
                <div class="option mt-2" data-target="change-password">Change Password</div>
            </div>


            <div class="overlay"></div>

        </div>

        <div id="content" class="col-9 border">

            <div class="content-section mt-4" id="user-profile">
                <h3>User Profile</h3>
                <p>Content for the user profile page goes here.</p>
                <!-- Add more user details here as needed -->
            </div>

            <div class="content-section mt-4" id="your-orders">
                <!-- Content for the your orders page will be loaded dynamically -->
            </div>

            <div class="content-section mt-4" id="my-wishlist">
                <!-- Content for the track order page will be loaded dynamically -->
            </div>


            <div class="content-section mt-4" id="new-orders">
                <!-- Content for the new orders page will be loaded dynamically -->
            </div>

            <div class="content-section mt-4" id="manage-address">
                <!-- Content for the manage address page will be loaded dynamically -->
            </div>

            <div class="content-section mt-4" id="change-password">
                <!-- Content for the change password page will be loaded dynamically -->
            </div>

        </div>
    </div>
</div>

{% endblock main-content %}